@import "colors";
@import "reset";

body {
  padding:10px;
}

.post {
  border:1px solid $lightgray;
  padding: 0px 20px 20px 20px;
  border-radius:5px;
  margin-bottom:20px;
}

h1 {
  color: $lightpurple;
  border-bottom: 1px solid $lightgray;
  padding-bottom:10px;
}

// Color changing button

#b1 {
  color: white;
  &.enlightened {
    background-color:$green;
  }
  &.resistance {
    background-color:$blue;
  }
}

// Moving box

.box {
  width: 100px; height: 100px;
  background-color: $green;
}