@import "colors";
@import "reset";

body {
  padding:10px;
}

.post {
  border:1px solid $lightgray;
  padding: 0px 20px 20px 20px;
  border-radius:5px;
  margin-bottom:20px;
}

h1 {
  color: $lightpurple;
  border-bottom: 1px solid $lightgray;
  padding-bottom:10px;
}

// Color changing button

#b1 {
  color: white;
  &.enlightened {
    background-color:$green;
  }
  &.resistance {
    background-color:$blue;
  }
}

// Moving box

.box-post {
  position:relative;
  height:200px;
}

.box {
  width: 100px; height: 100px;
  background-color: $green;
}

#box1, #box2, #box3 {
  position:absolute;
  left:20px;
}

// to-do list

ul#to-do-list {
  margin-top:20px;
}

li.to-do {
  list-style-type:none;
  padding-bottom:10px;
  &:before {
    content: '✔';
    margin-right:10px;
  }
}